:root {
    overflow: hidden;

    /* Constants */

    --default-text-color: white;
    --default-bg-color: var(--mantine-color-dark-8);
    --default-bd-color: var(--mantine-color-dark-4);
    --selected-text-color: white;
    --selected-bg-color: var(--mantine-color-blue-light);
    --selected-bd-color: var(--mantine-color-blue-3);
    --selected-bd: 1px solid var(--selected-bd-color);
    --error-bg-color: #61050b;
    --error-bd-color: var(--mantine-color-red-9);
    --error-bd: 1px solid var(--error-bd-color);
    --header-height: 30px;
    --header-bg-color: var(--mantine-color-dark-6);
    --sidebar-width: 300px;
    --sidebar-bg-color: var(--mantine-color-dark-7);
    --main-padding: 20px;
    --main-bg-color: var(--mantine-color-dark-8);
    --footer-height: 25px;
    --footer-bg-color: var(--mantine-color-dark-9);
}

.dynamic-div {
    color: var(--dynamic-text-color, unset);
    background-color: var(--dynamic-background-color, unset);
    border-color: var(--dynamic-border, unset);
}

.dynamic-div:hover {
    color: var(--dynamic-hover-text-color, unset);
    background-color: var(--dynamic-hover-background-color, unset);
}

.header-panel {
    background-color: var(--header-bg-color);

    --default-bg-color: var(--header-bg-color);
}

.left-sidebar-panel {
    background-color: var(--sidebar-bg-color);

    --default-bg-color: var(--sidebar-bg-color);
}

.main-panel {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    --default-bg-color: var(--main-bg-color);
}

.footer-panel {
    background-color: var(--footer-bg-color);

    --default-bg-color: var(--footer-bg-color);
}

.divider {
    border-top: 0.8px solid var(--default-bd-color);
    margin-block: 12px;
}

.compact {
    flex-grow: 0;
}

.grow {
    flex-grow: 1;
}
