.client {
    /* COLOURS */

    --default-text-color: white;
    --background: #1f1f1f;
    --default-bd-color: #424242;
    --selected-text-color: white;
    --selected-bg-color: rgb(34 139 230 / 15%);
    --selected-bd-color: #74c0fc;
    --selected-bd: 1px solid var(--selected-bd-color);
    --error-bg-color: #61050b;
    --error-bd-color: #c92a2a;
    --error-bd: 1px solid var(--error-bd-color);

    /* COMPONENTS */

    --dropdown-menu-bg-color: #0a0a0a;

    /* PANELS */

    --header-height: 50px;
    --header-bg-color: #282828;
    --sidebar-width: 300px;
    --sidebar-bg-color: #161616;
    --central-padding: 20px;
    --central-bg-color: #0a0a0a;
    --footer-height: 25px;
    --footer-bg-color: #141414;
}

.client-shell {
    display: grid;
    grid-template:
        "header header" var(--header-height)
        "sidebar central" 1fr
        "footer footer" var(--footer-height)
        / var(--sidebar-width) 1fr;
}

.header-panel {
    grid-area: header;
}

.left-sidebar-panel {
    grid-area: sidebar;
}

.central-panel {
    grid-area: central;
}

.footer-panel {
    grid-area: footer;
}
