.hellebore {
    /* COLOURS */

    --default-text-color: white;
    --background: #1f1f1f;
    --default-bd-color: #424242;
    --selected-text-color: white;
    --selected-bg-color: rgb(34 139 230 / 15%);
    --selected-bd-color: #74c0fc;
    --selected-bd: 1px solid var(--selected-bd-color);
    --error-bg-color: #61050b;
    --error-bd-color: #c92a2a;
    --error-bd: 1px solid var(--error-bd-color);

    /* COMPONENTS */

    --dropdown-menu-bg-color: #0a0a0a;

    /* CLIENT */

    --header-height: 50px;
    --header-bg-color: #282828;
    --sidebar-width: 300px;
    --sidebar-bg-color: #161616;
    --main-padding: 20px;
    --main-bg-color: #0a0a0a;
    --footer-height: 25px;
    --footer-bg-color: #141414;
}

.client-shell {
    display: grid;
    grid-template:
        "header header" var(--header-height)
        "sidebar main" 1fr "footer footer" var(--footer-height) / var(
            --sidebar-width
        )
        1fr;
    width: 100%;
    height: 100vh;
    gap: 0;
    overflow: hidden;
}

.header-panel {
    grid-area: header;
    overflow: hidden;
}

.left-sidebar-panel {
    grid-area: sidebar;
    overflow: auto;
}

.main-panel {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--main-padding);
    grid-area: main;
}

.footer-panel {
    grid-area: footer;
    overflow: hidden;
}
