.file-navigator {
    height: 100%;
}

.file-navigator-error-popover {
    position: fixed;
    z-index: var(--mantine-z-index-overlay);
    background-color: var(--error);
    border: 1px solid var(--error-border);
    border-radius: 0;
}

.file-navigator-error-text {
    padding: 6px;
}

.file-tree-root {
    height: 100%;
}
