.nav-item {
    padding-inline: 4px;
    color: var(--default-text-color);
    background-color: var(--default-bg-color);
    cursor: pointer;
}

.nav-item:hover {
    color: var(--default-text-color);
    background-color: color-mix(
        in oklab,
        var(--dynamic-background-color, var(--default-bg-color)),
        white 5%
    );
}

.nav-item.selected {
    border: 1px solid white;
}

.nav-item.selected.focused {
    border: var(--selected-bd);
}

.nav-item.active {
    background-color: color-mix(
        in oklab,
        var(--dynamic-background-color, var(--default-bg-color)),
        white 10%
    );
}

.nav-item.active:hover {
    color: var(--default-text-color);
}

.nav-item.active.focused {
    background-color: var(--selected-bg-color);
}

.nav-item.error {
    border: 1px solid var(--error-bd-color);
}

.nav-item.error.focused {
    background-color: 1px solid var(--error-bg-color);
}

.nav-item-indent {
    width: 9px;
    height: 18px;
    padding: 0;
}

.nav-item-expand-button-placeholder {
    width: 18px;
    height: 18px;
}

.nav-item-text {
    flex-grow: 1;
    margin-left: 2px;

    /* prevent highlighting text in nav items */
    user-select: none;
}

.nav-item-text.editable {
    border: var(--selected-bd);
}

.nav-item-text.error {
    border: var(--error-bd);
}
