.entry-editor-root {
    grid-template:
        "entry-editor-header" 40px
        "entry-editor-panel" 1fr
        / 1fr;
}

.entry-editor-header {
    grid-area: entry-editor-header;
}

.entry-editor-panel {
    grid-area: entry-editor-panel;
}
