.entry-editor-root {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template:
        "editor-header editor-header" 40px
        "editor-tabs editor-panel" 1fr
        / minmax(0, 100px) 1fr;
}

.entry-editor-header {
    grid-area: editor-header;
}

.entry-editor-tabs {
    grid-area: editor-tabs;
    overflow: hidden;
}

.entry-editor-panel {
    grid-area: editor-panel;
}
